.about-section p {
    font-size: 90%;
}

.business-pic-container {
    width: 50%;
    margin: auto;
    overflow: hidden;
}

.about-section img {
    width: 100%;
    transition: all 300ms ease-in;
}

.about-section img:hover {
    transform: scale(1.05);
}