.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-section a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 90%;
    text-decoration: none;
    font-weight: bold;
    color: #2f2d56;
}

.contact-section a:hover {
    box-shadow: 0 0 10px #2f2d56 ;
    border-radius: 10px;
}

.contact-section a em {
    padding-top: 10%;
}

section hr {
    width: 40%;
}

.map-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map-section iframe {
    width: 70%;
    border-radius: 20px;
    border: 1px solid gray;
    margin-bottom: 10%;
}

footer {
        background-image: url(/images/big_logo.png),
            linear-gradient(to bottom, #443f8f, #2a247f);
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 0px 0px 30px 30px ;
        height: 8%;
        min-height: 45px;
        display: flex;
        justify-content:right;
        color: #c9b581;
        
}

footer p:last-child {
    text-align: center;
    font-size: 90%;
    width: 70%;

    & span {
        font-size: 90%;
    }
}