.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-section a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

section hr {
    width: 40%;
}

.map-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map-section iframe {
    width: 70%;
    border-radius: 20px;
    border: 1px solid gray;
}

footer p:last-child {
    text-align: center;
}