.header-section {
    background-image: url(/images/logo.png),
        linear-gradient(to bottom, #443f8f, #2a247f);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 30px 30px 0px 0px;
    height: 8%;
    min-height: 45px;
    
}

.navigation-and-burger {
    display: flex;
    justify-content:center;
}

nav {
    width: 100%;
}

nav ul {
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


nav ul li {
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;
}



nav ul li a {
    color: #c9b581;
    text-decoration: none;
    font-size: larger;

    &:hover {
        color: #fff;
        text-decoration: overline 1px dashed;
    }

    &:active {
        color: #f1dd07;
        text-decoration: overline 1px dashed;
    }
}


.burger-menu {
    padding-top: 1.5rem;
    padding-bottom: 1rem ;
    padding-right: 1rem ;
    height: 2.5em;
    width: 3em;
 /*    margin-right: 10% ;
    margin-left: auto; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    display: none;
    
}

.burger-bar {
    width: 100%;
    height: 0.4em;
    background-color: #c9b581;
    border-radius: 0.5em;
}


/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.6em, 0.5em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.99em, 0.9em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}


@media only screen and (min-width: 801px) and (max-width: 900px) {
nav ul li:first-of-type {
    padding-left: 60px;
}
}

@media only screen and (max-width: 800px) {

    .header-section {
        background-image: url(/images/big_logo.png),
            linear-gradient(to bottom, #443f8f, #2a247f);
    }
    nav ul {
        flex-direction: column;
        width: fit-content;
    }

    nav ul li {
      
        padding-left: 0;
        padding-right: 0;
    }

    .navigation-and-burger {
        display: flex;
        justify-content: flex-end;
        gap: 1em;
    }
    

    .burger-menu {
        display: inherit;
    }
    .navigation-hidden {
        display: none;
    }

}

