#listing-item {
    padding-bottom: 1%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 25px;

}

#listing-item a {
    text-decoration: none;
    color: black;
    display: block;
    width: 30%;
    margin: auto;
   
}

#listing-item-title {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 250ms ease-in;
}

#listing-item-title:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #2f2d56;
}

#listing-item h2 {
    padding-top: 0;
    margin-top: 0;
    bottom: 5px;
    font-size: 180%;
    margin-bottom: 0.5rem;
}



dt {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 125%;
    text-align: center;
}

dd {
    margin-bottom: 1rem;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    font-size: 90%;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    /* Razmak između slika */
}

.image-gallery .thumbnail {
    width: 21%;
    aspect-ratio: 1;
    /* Kvadratni omjer za konzistentne "thumbnail" dimenzije */
    overflow: hidden;
    border-radius: 5%;
    /* Zaobljeni rubovi */
    box-shadow: 0px 0px 10px black;
    transition: box-shadow 300ms ease-in;
    padding: 3px;
}

.image-gallery .thumbnail img {
    border-radius: 5%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Zadržava proporcije slike i "kroji" unutar kontejnera */
    transition: transform 300ms ease-in;
    cursor: pointer;
}

.image-gallery .thumbnail:hover {
    box-shadow: 0px 0px 30px #443f8f;
}

.image-gallery .thumbnail img:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 1145px) {

    #listing-item a {
        width: 70%;
    }

    .image-gallery {
        gap: 3rem;
    }
    .image-gallery .thumbnail {
        width: 30%;
    }
}

@media only screen and (max-width: 600px) {
    .image-gallery {
        gap: 1.5rem;
    }

    .image-gallery .thumbnail {
        width: 40%;
    }
}